# Исключаем виртуальное окружение
.venv/
venv/
env/

# Исключаем временные файлы Python
__pycache__/
*.pyc
*.pyo

# Исключаем системные файлы
.DS_Store
Thumbs.db

# Исключаем файлы редактора
.vscode/
*.log